
@media screen and (max-width: 1080px) {

    .nosotros {
        height: 100%;
        padding: 10px;
    }


    .tarjetas {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding: 10px 10px;
        gap:10px;
    }

    .tarjetas--e {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding: 10px 10px;
    }

    .contacto {
        height: 100%;
        gap:10px;
        padding: 10px 10px;
    }


    footer {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 920px) {

    .nosotros {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 40px;
    }

    .nosotros__info h1 {
        font-size: 40px;
        padding: 10px 0;
    }

    .nosotros__info p {
        font-size: 20px;
    }

    .tarjetas {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        width: 100%;
        padding: 10px 10px;
    }

    .tarjeta {
        max-width: 100%;
    }

    .tarjeta__contenedora {
        font-size: 19px;
        gap: 5px;
    }

    .tarjetas--e {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding: 10px 10px;
    }

    .tarjeta--e {
        height: 100%;
        max-width: 100%;
    }

    .tarjeta--e__contenedora {
        font-size: 19px;
        gap: 5px;
    }


    .contacto {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        gap:10px;
    }

    .form {
        width: 97%;
        height: 90%;
    }


    footer {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media screen and (min-width: 620px) and (max-width: 829px) {

    .tarjetas {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        width: 100%;
        padding: 10px 10px;
    }

    .contacto {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 10px 20px;
        gap:10px;
    }
    
    
}

@media screen and (min-width: 480px) and (max-width: 619px) {

    .tarjetas {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        height: 100%;
        padding: 10px 10px;
    }

    
    .tarjetas--e {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 10px 10px;
    }

    .contacto {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 10px 20px;
        gap:10px;
    }
    
}


@media screen and (min-width: 320px) and (max-width: 479px) {
    .hero{
        background-image: url(../assets/hero2.jpg);
    }
    .hero__titulo {
        font-size: 43px;
    }
    .nosotros {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 40px;
    }

    .nosotros__info h1 {
        font-size: 40px;
        padding: 10px 0;
    }

    .nosotros__info p {
        font-size: 20px;
    }


    .tarjetas {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 10px;
    }

    .tarjeta__contenedora {
        font-size: 19px;
        gap: 5px;
    }

    .tarjetas--e {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 10px 10px;
    }

    .tarjeta--e__contenedora {
        font-size: 19px;
        gap: 5px;
    }

    .contacto {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        gap:10px;
    }

    footer {
        grid-template-columns: repeat(1, 1fr);
    }

}