/* PAGINA PRODUCTOS*/
.tarjetas {
    @include estilots ($color-main, 100%, 100%, 40px 30px, 0);
    @include grid (grid, repeat(3, 1fr), center, 25px);

    .tarjeta {
        background-color: #eee;
        max-width: 100%;
        border-radius: 5px;
        height: 100%;
        padding: 2%;

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            transition: 0.2s;

            &:hover {
                transform: scale(1.05, 1.05);
            }
        }

        &__contenedora {
            @include contenedora (10px, $font-main, 25px, flex, column, 10px);
            p {
                border-bottom: solid 2px;
                margin: 0;
            }

        }
    }

}

/*SECCION ESPECIALES*/

.tarjetas--e {
    @include estilots ($color-main, 100%, 100%, 40px 80px, 0);
    @include grid (grid, repeat(2, 1fr), center, 25px);

    .tarjeta--e {
        background-color: #eee;
        max-width: 100%;
        border-radius: 5px;
        height: 100%;
        padding: 2%;
        height: auto;
        padding: 10px;
        filter: blur(10px);
        transition: 0.2s;

        &:hover {
            filter: blur(0px);

        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        &__contenedora {
            @include contenedora (10px, $font-main, 25px, flex, column, 10px);
            p {
                border-bottom: solid 2px;
                margin: 0;
            }

        }
    }
}