
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@600&family=Open+Sans:wght@500&display=swap');


@font-face {
    font-family: semi;
    src:url(../assets/font/NotoSansTangsa-SemiBold.ttf);
}

/* * = selector universal para reseteo de estilos por default del html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}
